

/**CSS for section**/
*{
	text-decoration: none;
	background-color: #000;
	color: white;
}
section {
	width: 290px;
	float: left;
	padding: 5px 15px;
	background-color: black;
	}

/** CSS for individual item**/
	.individual_body{
		 padding:1px 10px 15px 10px;
		 align-content: center;
	}
	.individual_body div {
		text-align:center;
	}
	
	/** Heading CSS for indiviual item display**/
	.individual_body h2{
		padding-left:0px;
		font-size: 35px;
		font-family:font-family: 'Great Vibes', cursive;
	}
	
	/** Paragraph CSS for individual item display**/
	.individual_body p{
	width: 380px; 
	float: right;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
		font-size: 15px;
		text-align:left;
		font-family:font-family: 'Great Vibes', cursive;
	}


/**CSS for content page **/
.body{
	text-align:left;
}
.body ul{
	list-style-type:grid;
	
}
.body img{
	
	max-width:100%;
	height:300px;
}
.body ul li{
	display:inline-block;
	border:2px solid #303031;
	padding:1%;
	margin:1%;
	border-radius:15px;
}
.body ul li:hover{
	border:3px solid red;

}


/**for Navigation Bar**/
nav {
	position: relative;
	margin: 20px 0;
}
nav ul {
	
	margin: 0;
	padding: 0;
}
nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
}
nav a:hover {
	color: rgb(124, 90, 146);
}
nav .current a {
	background: rgb(12, 12, 12);
	color: #fff;
	border-radius: 5px;
}

/* right nav */
nav.right ul {
	text-align: right;
}

/* center nav */

.navCenter{
	text-align: center;
}

/**  CSS for break point of website**/
 /** CSS for navigation of website size 1024 or less*/
 @media screen and (max-width: 1024px) {
	nav {
		position: relative;
		min-height: 40px;
		
	}	
	
	nav ul {	
	width:100%;
	position: relative;
	margin:auto;
	
	border: solid 1px rgb(67, 64, 64);
	background: rgb(84, 79, 79);
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	
	nav li {
		display: none; /* to hide all the item from navigation bar */
		margin: 0;
	}
	
	nav .current {
		display: block; /* this shows the li active that is active on navigation bar*/
	}
	
	nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	/* CSS for navigation of current menu item*/
	nav .current a {
		background: none;
		color: #666;
	}

	/* Css for on nav hover */
	nav ul:hover {
		background-image: none;
	}
	nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}

	/* CSS to make Nav center  */
	nav.center ul {
	left: 89px;
	margin-left: -90px;
	}	
}



/* CSS for Structure of website */

#enclose {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}
header {
	height: 100px;
	padding: 5px 15px;
	background-color: #0a094c;
}
section {
	width: auto;
	float: center;
	padding: 5px 15px;
}

article {
	width: 380px; 
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

footer {
	width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1vw;
}
footer img{
	width: 4vw;
    height: auto;
    margin: 20px;
    margin-left: 100px;
}
/* for 980px or less */

@media screen and (max-width: 980px) {
	
	#enclose {
		width: auto;
	}
	
	.individual_body{
		width: auto;
		 padding:1% 4%;
		 align-content: center;
	}
	
	.individual_body p{
	width: auto; 
	padding: 1% 4%;
	margin: 10px 5px 5px 5px;
	float: right;
	}
	
	section {
		width: auto;
		padding: 1% 4%;
	}
	
	article {
		width: auto;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	header, footer {
		padding: 1% 4%;
	}
}

/* for 500px or less*/ 
@media screen and (max-width: 500px) {

	section {
		width: auto;
		float: none;
	}
	
	article {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		width: auto;
		padding-left:0px;
	}
	h1 {
		font-size: 3em;
	}
	

}

/** CSS code for sec for body**/
section {
	background: #0a094c;
}

header, section, article {
	margin-bottom: 5px;
}

#enclose, header, section, article, footer {
	border: solid 1px #0a094c;
}
/* day-night mode*/
.right-view{
	float:right ;
	height: 80%;
	width: auto;
}

